* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    to right bottom,
    #e800ff,
    #ba51ff,
    #886cff,
    #537cff,
    #0086ff
  );
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
/* Modal Cadastro Nomes */
.modal-players,
.modal-players-win-x,
.modal-players-win-o {
  width: calc(100vw + 250px);
  height: 100vh;
  display: absolute;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: -375px;
  background-image: linear-gradient(
    to right bottom,
    #ea00ffcc,
    #ba51ffcc,
    #886cffcc,
    #537cffcc,
    #0086ffcc
  );
}

.player-form {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  margin: 90px auto;
  justify-content: center;
  align-items: center;
}
.player-form span {
  text-align: center;
  color: #fff;
  margin-bottom: 10px;
}
.player-input {
  width: 300px;
  height: 40px;
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 10px;
}
.player-form input::placeholder {
  color: #b1b1b1;
}
/* Modal Winners */
.modal-players-win-x,
.modal-players-win-o {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2000;
  top: 0;
  left: -250px;
  background-image: linear-gradient(
    to right bottom,
    #ea00ffcc,
    #ba51ffcc,
    #886cffcc,
    #537cffcc,
    #0086ffcc
  );
}

.win-container {
  width: 400px;
  height: 250px;
  display: flex;
  position: relative;
  flex-direction: column;
  font-size: 18px;
  border-radius: 20px;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
}
.win-container span i {
  margin-right: 10px;
}

.x-win-x {
  display: absolute;
  position: relative;
  color: #e800ff;
  font-size: 240px;
  text-shadow: 10px 0px 120px #f79aff;
  top: -190px;
}
.x-win-o {
  display: absolute;
  position: relative;
  color: #0086ff;
  font-size: 240px;
  text-shadow: 10px 0px 120px #afdaff;
  top: -190px;
}

.win-container > span {
  display: block;
  position: relative;
  top: -250px;
}
.current-winer-x {
  font-weight: 800;
  color: #e800ff;
}
.current-winer-o {
  font-weight: 800;
  color: #0086ff;
}

.modal-players-win-x .btn-reset,
.modal-players-win-o .btn-reset {
  width: 200px;
  height: 40px;
  position: absolute;
  top: 160px;
}

.btn-player-name {
  width: 300px;
  height: 40px;
  color: #aaaaaa;
  background-color: #fff;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.btn-player-name:hover {
  color: #fff;
  box-shadow: inset 400px 0 20px #e800ff;
}

.container {
  width: 600px;
  padding: 30px;
  display: flex;
  border-radius: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
}
.container h1 {
  font-size: 40px;
  margin-bottom: 10px;
}
.row {
  width: 50%;
}
.players {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.player-01,
.player-02 {
  width: 50%;
  display: flex;
  justify-content: center;
}

.player-01 {
  font-size: 30px;
  font-weight: 600;
  color: #e800ff;
}
.player-02 {
  font-size: 30px;
  font-weight: 600;
  color: #0086ff;
}

.row-p1,
.row-p2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-cointainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.btn-player {
  width: 40%;
  height: 40px;
  margin: 10px;
  background-color: #fff;
  color: #696969;
  border: 1px solid #e800ff;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.btn-player:hover {
  color: #fff;
  box-shadow: inset 250px 0 0 #e800ff;
}
.btn-player i,
.btn-reset i {
  margin-right: 10px;
}
.btn-reset i {
  font-size: 15px;
}

.btn-reset {
  width: 40%;
  height: 40px;
  margin: 10px;
  background-color: #fff;
  color: #696969;
  border: 1px solid #0086ff;
  border-radius: 10px;
  transition: all 0.3s ease-in;
  cursor: pointer;
}
.btn-reset:hover {
  color: #fff;
  box-shadow: inset 250px 0 0 #0086ff;
}

.board {
  margin: 30px;
}
.fild {
  width: 150px;
  height: 150px;
  margin: 5px;
  font-size: 70px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  transition: all 0.2s ease;
}
.fild:hover {
  background-color: #f6f6f6;
}

.p-1 {
  color: #e800ff;
}
.p-2 {
  color: #0086ff;
}

/*  Classes de Ações */
.is-open {
  display: absolute;
}
.is-closed {
  display: none;
}
